@model AdminPanel.Models.City

<section class="content-header">
    <h1>
        Города
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Редактировать город</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="Edit">
            <div class="box-body">
                @Html.HiddenFor(model => model.CityId)
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Город</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" placeholder="Название города" value="@Model.Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Страна</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control", @id = "countries-list", @onchange = "CountryIsChanged()" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Регион</label>
                    <div class="col-sm-10" id="region-list"></div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default">@Html.ActionLink("Отмена", "Index")</button>
                <button type="submit" class="btn btn-info pull-right">Обновить</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

<script>
    function CountryIsChanged() {
        var countryId = document.getElementById("countries-list").value;

        $.ajax(
            {
                url: '@Url.Action("CountryIsChangedDropDownList", "Cities")',
                data: {
                    countryId: countryId
                },
                error: () => alert("Невозможно загрузить список регионов в соответсвии с выбранной страной"),
                success: function (result) {
                    $('#region-list').html(result)
                }
            }
        );
    }

    document.addEventListener("DOMContentLoaded", CountryIsChanged);

</script>