@model AdminPanel.Models.Tour

<section class="content-header">
    <h1>
        Туры
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Добавить тур</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="Create">
            <div class="box-body">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Из города</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("FromCityId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">В город</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("ToCityId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Дата вылета</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="StartDate" placeholder="Дата вылета">
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Дата возвращения</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="EndDate" placeholder="Дата возвращения">
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Цена</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Price" placeholder="Цена">
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default">@Html.ActionLink("Отмена", "Index")</button>
                <button type="submit" class="btn btn-info pull-right">Создать</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>