@model AdminPanel.Models.Tour

<section class="content-header">
    <h1>
        Туры
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Детали тура</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="container">
                <dl class="dl-horizontal">
                    <dt>
                        Вылет из 
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.Region.Country.Name) -
                        @Html.DisplayFor(model => model.City.Region.Name) -
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>

                    <dt>
                        Тур в 
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City1.Region.Country.Name) -
                        @Html.DisplayFor(model => model.City1.Region.Name) -
                        @Html.DisplayFor(model => model.City1.Name)
                    </dd>
                    
                    <dt>
                        Дата вылета
                    </dt>

                    <dd>
                        @Model.StartDate.ToShortDateString()
                    </dd>

                    <dt>
                        Дата возвращения
                    </dt>

                    <dd>
                        @Model.EndDate.ToShortDateString()
                    </dd>

                    <dt>
                        Цена
                    </dt>

                    <dd>
                        @Decimal.ToDouble(Model.Price) руб.
                    </dd>
                </dl>

            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default">
                    @Html.ActionLink("Вернуться назад", "Index")
                </button>
                <button class="btn btn-default pull-right">
                    @Html.ActionLink("Редактировать", "Edit", new { id = Model.TourId })
                </button>

            </div>
            <!-- /.box-footer -->
            <!-- /.box -->
</section>
