@model IEnumerable<AdminPanel.Models.Region>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Таблицы
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i> Домой</a></li>
        <li class="active"><i class="fa fa-table"></i> Таблицы</li>
        <li class="active"><i class="fa fa-tree"></i> Регионы</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Регионы</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Создать новую запись", "Create")
                    </p>
                    <table id="example" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Регион</th>
                                <th>Страна</th>
                                <th>Действия</th>
                            </tr>
                        </thead>

                        <tbody id="table-body"> 
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
                                <td>
                                    @Html.ActionLink("Редактировать", "Edit", new { id = item.RegionId }) |
                                    @Ajax.ActionLink("Удалить", "Delete",
                                new AjaxOptions
                                {
                                    Url = @Url.Action("Delete", "Regions",
                                new
                                {
                                    id = @item.RegionId
                                }),
                                    Confirm = "Вы действительно хотите удалить запись?",
                                    HttpMethod = "POST",
                                    //UpdateTargetId = "table"
                                    OnSuccess = "window.location.reload();",
                                })
                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- DataTables -->
<script src="~/wwwroot/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/wwwroot/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
    $(function () {
        $('#example').DataTable();
    });
</script>